@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #000000;
  --bg-color: #f8fafc;
}

html,
body {
  background: var(--bg-color);
  color: var(--font-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.animate-modal {
  animation: identifier 0.3s linear backwards;
}

@keyframes identifier {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
